<div ng-cloak>

    <ui-select ng-model="simulationParams.clientIdentifier" on-select="getPageTypes()">
        <ui-select-match placeholder="{{ clientSelectPlaceholder }}">
            <span ng-bind="$select.selected"></span>
        </ui-select-match>
        <ui-select-choices repeat="client in (clients | filter: $select.search)" refresh="refreshClients($select.search)">
            <span ng-bind="client"></span>
        </ui-select-choices>
    </ui-select>

    <div class="selector">
        <div class="selection radio radio-primary radio-inline" ng-repeat="pageTypeEntry in pageTypeList">
            <input type="radio" ng-model="simulationParams.pageType" ng-value="pageTypeEntry.pageType" ng-change="pageTypeSelected(pageTypeEntry)">
            <label>{{ pageTypeEntry.displayName.toUpperCase() }}</label>
        </div>
    </div>

    <div class="selector">
        <div class="selection radio radio-primary radio-inline" ng-repeat="zone in zonesList">
            <input type="radio" ng-model="simulationParams.zoneId" ng-value="zone">
            <label>{{ zone }}</label>
        </div>
    </div>

    <input placeholder="Input CPC" type="text" class="form-control" ng-model="simulationParams.productId"/>
    <input placeholder="Input PIPs" type="text" class="form-control" ng-model="pips" ng-change="pipsToArray()"/>
    <input placeholder="Input Consumer ID" type="text" class="form-control" ng-model="simulationParams.consumerId"/>
    <input placeholder="Input Brand Name" type="text" class="form-control" ng-model="simulationParams.brandName"/>
    <input placeholder="Input Number Of Runs" type="text" class="form-control" ng-model="simulationParams.numberOfQueries"/>
    <button type="button" class="btn btn-primary" ng-click="submitSimulation()">
        Run Simulation
    </button>

</div>
