<div ng-cloak class="well">
    <h3>Simulator</h3>
    <br>
    <span class="input-label">Select a client:</span>
    <ui-select ng-model="simulationParams.clientIdentifier" on-select="getPageTypes()">
        <ui-select-match placeholder="{{ clientSelectPlaceholder }}">
            <span ng-bind="$select.selected"></span>
        </ui-select-match>
        <br>
        <ui-select-choices repeat="client in (clients | filter: $select.search)" refresh="refreshClients($select.search)">
            <span ng-bind="client"></span>
        </ui-select-choices>
    </ui-select>
    <br>

    <div ng-if="simulationParams.clientIdentifier">
        <span class="input-label">Page Type:</span>
        <div class="selector">
            <div class="selection radio radio-primary radio-inline really-inline" ng-repeat="pageTypeEntry in pageTypeList">
                <input class="radio-center" type="radio" ng-model="simulationParams.pageType" ng-value="pageTypeEntry.pageType" ng-change="pageTypeSelected(pageTypeEntry)">
                <label class="radio-label">{{ pageTypeEntry.displayName.toUpperCase() }}</label>
            </div>
        </div>
        <br>
    </div>

    <div ng-if="simulationParams.pageType">
        <span class="input-label">Zone Number:</span>
        <div class="selector">
            <div class="selection radio radio-primary radio-inline really-inline" ng-repeat="zone in zonesList">
                <input class="radio-center" type="radio" ng-model="simulationParams.zoneId" ng-value="zone">
                <label class="radio-label">{{ zone }}</label>
            </div>
        </div>
        <br>
    </div>

    <div ng-if="simulationParams.zoneId">
        <span class="input-label">Extras:</span>
        <input placeholder="CPC" type="text" class="form-control space" ng-model="simulationParams.productId"/>
        <input placeholder="PIPs" type="text" class="form-control space" ng-model="pips" ng-change="pipsToArray()"/>
        <input placeholder="Consumer ID" type="text" class="form-control space" ng-model="simulationParams.consumerId"/>
        <input placeholder="Brand Name" type="text" class="form-control space" ng-model="simulationParams.brandName"/>
        <input placeholder="Number of simulations" type="text" class="form-control space" ng-model="simulationParams.numberOfQueries"/>
        <button type="button" class="btn btn-primary" ng-click="submitSimulation()">
            Run Simulation
        </button>
    </div>
</div>
