<div ng-cloak class="well">
    <div>
        <ui-select ng-model="selected.clientIdentifier" on-select="getPriorSimulations()">
            <ui-select-match placeholder="{{ clientSelectPlaceholder }}">
                <span ng-bind="$select.selected"></span>
            </ui-select-match>
            <ui-select-choices repeat="client in (clients | filter: $select.search)" refresh="refreshClients($select.search)">
                <span ng-bind="client"></span>
            </ui-select-choices>
        </ui-select>

        <div ng-if="selected.clientIdentifier">
            <ui-select ng-model="selected.simulation" on-select="getSimulationData()">
                <ui-select-match placeholder="Select a simulation">
                    <span>{{ $select.selected.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                </ui-select-match>
                <ui-select-choices repeat="simulation in (simulations | filter: $select.search)">
                    <span>{{simulation.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-if="selected.simulation">
            <div class="chart">
                <chartist class="ct-chart ct-golden-section" chartist-data="recipes" chartist-chart-type="Bar" chartist-chart-options="barOptions"></chartist>
            </div>
            <div class="chart">
                <chartist class="ct-chart ct-golden-section" chartist-data="barData" chartist-chart-type="Bar" chartist-chart-options="barOptions"></chartist>
            </div>
        </div>
        <!--<chartist class="ct-chart ct-golden-section" chartist-data="barData" chartist-chart-type="Bar" chartist-chart-options="barOptions"></chartist>-->
        <!--<chartist class="ct-chart ct-golden-section" chartist-data="barData" chartist-chart-type="Bar" chartist-chart-options="barOptions"></chartist>-->
    </div>
</div>
