.landing-features {
    width: 850px;
    margin: 0px auto;
}

.landing-feature {
    width: 400px;
    height: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 0px 10px;
}

.chart {
    height: 250px;
    width: 400px;
}

.subtext {
    text-align: center;
    width: 400px;
}
