.landing-features {
    width: 850px;
    margin: 0px auto;
}

.landing-feature {
    width: 400px;
    height: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 0px 10px;
}

.chart {
    height: 250px;
    width: 400px;
}

.subtext {
    text-align: center;
    width: 400px;
}

.input-label {
    font-size: 16px;
    padding-top: 5px;
}

.radio-label {
    padding: 0px 30px 0px 5px !important;
}

.radio-center {
    bottom: 5px;
}

.really-inline {
    margin-top: 0px !important;
}

.space {
    margin-bottom: 5px;
}
